# Environment Variables (CRITICAL)
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Project Specifics
results/
*.csv

# Node dependencies
node_modules/
